body {
    margin: 0;
}

.menu-item {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 16px;
}

.topbar {
    text-align: center;
    box-shadow: 0 2px 4px #ccc;
    padding: 24px 48px;
}